body {
    margin: 0;
    padding: 0;
    background-image: url('../MasterPagePIC.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.Registrationbox{
    position: absolute;
    top: 49%;
    left: 50%;
    right: 16%;
    transform: translate(-50%,-50%);
    width: 387px;
    height: 390px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgb(0,0,0,0.5);
}

.user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: -53px;
    left: 129px;
    position: absolute;
}



h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: rgb(237,208,49);
}

.lblname,lblNumber, lblemail, lblpass {
    font-weight: bold;
    color: #fff;
}

.txtname,txtNumber,txtemail, .txtpass, btnsubmit{
    width: 100%;
    margin-bottom: 20px;
}
